/*
Copyright 2015 Urs Fässler, www.bitzgi.ch
SPDX-License-Identifier:	GPL-3.0+
*/

#label
{
  fill: #cfcfd0;
  font-family: frutiger, sans-serif;
  font-size: 34px;
}

#time
{
  fill: #9a9a9c;
  font-family: serifa, serif;
  font-size: 18px;
}

#background
{
  fill: #434749;
}

#ring0
{
  fill: #ff67cd
}

#ring1
{
  fill: #627f9d
}

#ring2
{
  fill: #ffbbbd
}

#ring3
{
  fill: #eeeeee
}

#ring4
{
  fill: #d8eff8
}

#ring5
{
  fill: #ff8888
}

#ring6
{
  fill: #8B9A53
}

#ring7
{
  fill: #D272B1
}

#ring8
{
  fill: #FF9172
}

#ring9
{
  fill: #83BEFF
}

#ring10
{
  fill: #FFFC0D
}

#ring11
{
  fill: #2DC1F0
}

#ring12
{
  fill: #03E517
}

#ring13
{
  fill: #CB0000
}

#ring14
{
  fill: #3DE5D6
}

#ring15
{
  fill: #709dac
}

#ring16
{
  fill: #4257b2
}

#ring17
{
  fill: #e6a06c
}

#ring18
{
  fill: #bad087
}

#arc0
{
  fill: #8a1b01
}

#arc1
{
  fill: #2C3E50
}

#arc2
{
  fill: #FC4349
}

#arc3
{
  fill: #999999
}

#arc4
{
  fill: #6DBCDB
}

#arc5
{
  fill: #bb0000
}

#arc6
{
  fill: #414827
}

#arc7
{
  fill: #6B3A5A
}

#arc8
{
  fill: #A33621
}

#arc9
{
  fill: #0D3285
}

#arc10
{
  fill: #ADAB08
}

#arc11
{
  fill: #176179
}

#arc12
{
  fill: #02690B
}

#arc13
{
  fill: #700000
}

#arc14
{
  fill: #217B73
}

#arc15
{
  fill: #005572
}

#arc16
{
  fill: #021a7d
}

#arc17
{
  fill: #c65400
}

#arc18
{
  fill: #5a7f02
}


